<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <form>
                <div class="container-fluid px-6">
                    <h1 class="mt-4">Orden de Reparación</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                    <div class="card body">

                        <div class="card-body ">
                            <div class="col-4">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option selected="selected">Orden de Trabajo</option>
                                    <option value="1">OT-205</option>
                                    <option value="2">OT-377</option>
                                    <option value="3">OT-398</option>
                                </select>
                            </div>
                            <div class="row">

                                <div class="col-9">
                                    <label for="NombreCliente" class="control-label">Justificación</label>
                                    <textarea
                                        type="number"
                                        class="form-control"
                                        id="NombreCliente"
                                        required="llenar Espacio"
                                        placeholder="Escribir la justificacion"></textarea>
                                </div>
                                <div class="col-3">
                                    <label for="NombreCliente" class="control-label">Responsable</label>
                                    <select class="form-select form-select mb-3" aria-label=".form-select-lg example">
                                        <option selected="selected">Seleccione</option>
                                        <option value="1">empleado 1</option>
                                        <option value="2">empleado 2</option>
                                        <option value="3">empleado 3</option>
                                    </select>
                                </div>





                            </div>

                            <div class="col-4">
                                <label for="NombreCliente" class="control-label">Evidencia</label>
                                <input
                                    type="file"
                                    class="form-control"
                                    id="DiseñoFinalSoli"
                                    name="file"
                                    accept=".jpg, .png, .jpeg"></input>
                                <br></br>
                                <div id="preview" class="styleImage"></div>
                            </div>

                            <div class="card-body">
                                <div class="col-4">
                                    <button
                                        type="button"
                                        onclick="location.href = '/SCFM/faces/OrdenRepa.xhtml';"
                                        class="btn btn-success btn-sm">Guardar Reparación
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </main>
    </ui:define>

</ui:composition>
