<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                <form action="" method="post">

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Solicitud de Servicio</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                            </li>
                            <li class="breadcrumb-item active">Solicitud de Servicio</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Nombre Cliente</strong>
                                        </label>
                                        <br></br>
                                        <p>Juan</p>
                                    </div>

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Primer Apellido</strong>
                                        </label>
                                        <br></br>
                                        <p>Solano</p>
                                    </div>

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Segundo Apellido</strong>
                                        </label>
                                        <br></br>
                                        <p>Romero</p>
                                    </div>
                                </div>

                                <br></br>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Cédula</strong>
                                        </label>
                                        <br></br>
                                        <p>1-3454-9901</p>
                                    </div>
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Número de Teléfono</strong>
                                        </label>
                                        <br></br>
                                        <p>85672903</p>
                                    </div>
                                </div>
                                <br></br>

                                <div class="form-group">
                                    <label class="control-label">
                                        <strong>Dirección</strong>
                                    </label>
                                    <br></br>
                                    <p>250 mts norte de las torres eléctricas de Calle Vieja</p>
                                </div>
                                <br></br>

                                <div class="col-4">
                                    <label class="control-label">
                                        <strong>Cantidad Muebles</strong>
                                    </label>
                                    <br></br>
                                    <p>1</p>
                                </div>

                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Tipo de mueble</strong>
                                        </label>
                                        <br></br>
                                        <p>Escritorio</p>
                                    </div>

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Espacio a tratar</strong>
                                        </label>
                                        <br></br>
                                        <p>Oficina</p>

                                    </div>

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Área de Espacio</strong>
                                        </label>
                                        <br></br>
                                        <p>Oficinas</p>

                                    </div>

                                </div>
                                <br></br>

                                <div class="col-4">
                                    <label class="control-label">
                                        <strong>Tipo de Modelo</strong>
                                    </label>
                                    <br></br>
                                    <p>Escritorio de computadora</p>

                                </div>
                                <br></br>
                                <div class="col-4">
                                    <label class="control-label">
                                        <strong>Cantidad de diseño</strong>
                                    </label>
                                    <br></br>
                                    <p>1</p>

                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Tipo de Material</strong>
                                        </label>
                                        <br></br>
                                        <p>Melanina</p>

                                    </div>

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Color</strong>
                                        </label>
                                        <br></br>
                                        <p>Blanco</p>
                                    </div>

                                    <div class="col-4">
                                        <label for="DiseñoFinalCali" class="control-label">
                                            <strong>Diseño Cliente</strong>
                                        </label>
                                        <div id="DiseñoFinalCali" class="styleImage"><img width="250px" src="Imagenes/Farcry5Venta.jpg"></div>
                                    </div>
                                </div>
                                <br></br>
                                <div class="form-group">
                                    <label class="control-label">
                                        <strong>Notas Diseño</strong>
                                    </label>
                                    <br></br>
                                    <p>2 cajones del lado derecho y un espacio al final para poder guardar libros</p>
                                </div>

                                <br></br>
                                <div class="form-group">
                                    <label class="control-label">
                                        <strong>Tipo de Modelo</strong>
                                    </label>
                                    <br></br>
                                    <p>Moderno</p>
                                </div>
                                <br></br>
                                <div class="col-4">
                                    <label class="control-label">
                                        <strong>Cantidad de Medidas</strong>
                                    </label>
                                    <br></br>
                                    <p>1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="control-label">
                                        <strong>Descripción</strong>
                                    </label>
                                    <br>
                                    <p>Ni idea de que poner aquí</p>
                                </div>

                                <br></br>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Medidas Alto</strong>
                                        </label>
                                        <br></br>
                                        <p>750mm</p>
                                    </div>

                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Medidas Ancho</strong>
                                        </label>
                                        <br></br>
                                        <p>1200mm</p>
                                    </div>
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Medidas Fondos</strong>
                                        </label>
                                        <br></br>
                                        <p>550mm</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Tipo de Elemento</strong>
                                        </label>
                                        <br>
                                        <p>Cajones</p>
                                    </div>
                                </div>
                                <br></br>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="control-label">
                                                <strong>Medidas Alto</strong>
                                            </label>
                                            <br></br>
                                            <p>140mm</p>
                                        </div>

                                        <div class="col-4">
                                            <label class="control-label">
                                                <strong>Medidas Ancho</strong>
                                            </label>
                                            <br></br>
                                            <p>410mm</p>
                                        </div>
                                        <div class="col-4">
                                            <label class="control-label">
                                                <strong>Medidas Fondo</strong>
                                            </label>
                                            <br></br>
                                            <p>525mm</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="col-9">
                                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="collapse" data-bs-target="#Acept_Soli" aria-expanded="false" aria-controls="Acept_Soli">Aceptar Calidad</button>
                                    <button
                                    type="button" class="btn btn-danger btn-sm" data-bs-toggle="collapse" data-bs-target="#Rechac_Soli" aria-expanded="false" aria-controls="Rechac_Soli">Rechazar Calidad
                                </button> 
                            </div>
                                <br></br>
                            <div class="collapse" id="Acept_Soli">
                                
                                <label for="Clasif_Soli" class="control-label">Clasificar Solicitud de Servicio</label>
                                <br></br>
                                <div class="col-4">
                                    <select id="Clasif_Soli" class="custom-select">
                                        <option selected="selected">Escoger</option>
                                        <option value="1">Urgente</option>
                                        <option value="2">Intermedia</option>
                                        <option value="3">Normal</option>
                                    </select>
                                    <br><br>
                                    <button type="button" class="btn btn-primary btn-sm">Confirmar Prioridad</button>  
                            </div>
                        </div>
                            <div class="collapse" id="Rechac_Soli">
                                
                                <label for="Justif_Rech_Soli" class="control-label">Justificación del rechazo de calidad</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Justif_Rech_Soli"
                                    name="Just_Rechazo"
                                    placeholder="Escriba razón del rechazo">
                                    <br></br>
                                    <button type="button" class="btn btn-primary btn-sm">Enviar Justificación</button>  
                            </div>
                            
                        </div>
                    </div>

                </form>

            </main>
    </ui:define>

</ui:composition>
