<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                    <form action="" method="post">

                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Definir Costos</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/ventas/PrecioVenta.xhtml">Precio Venta</a>
                                </li>
                                <li class="breadcrumb-item active">Definir Costos</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="CostoTotal_Material" class="control-label">Costo total de material</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="CostoTotal_Material"
                                                placeholder="Carga Precio Total de Cotización"/>
                                        </div>

                                        <div class="col-4">
                                            <label for="Estim_Mano_Obra" class="control-label">Estimación de Mano de obra</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="Estim_Mano_Obra"
                                                placeholder="Carga automáticamente"/>
                                        </div>

                                        <div class="col-4">
                                            <label for="Estim_Plazo_Entrega" class="control-label">Estimación de Plazo de entrega</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="Estim_Plazo_Entrega"
                                                placeholder="Escribir estimado de entrega"/>
                                        </div>
                                    </div>

                                    <br></br>
                                    <div class="row">
                                
                                        <div class="col-4">
                                            <label for="Descuento" class="control-label">Descuento</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="Descuento"
                                                placeholder="Opcional"/>
                                        </div>
                                    </div>
                                    <br></br>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#CalculoPrecio" aria-expanded="false" aria-controls="CalculoPrecio">Calcular Precio</button>
                                    <br></br>
                                    <br></br>
                                    <div class="collapse" id="CalculoPrecio">
                                
                                        <label for="TotalPrecio" class="control-label">Precio de Venta</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="TotalPrecio"
                                            placeholder="55000"/>
                                        <br></br>
                                            <button type="button" class="btn btn-primary btn-sm">Enviar Precio de Venta</button>  
                                    </div>
                                </div>
                            </div>
                    </div>
                    

                        </form>

                    </main>
    </ui:define>

</ui:composition>