<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                    <form action="" method="post">
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Subir Diseño Final</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/ventas/DiseñosFinales.xhtml">Diseño Final</a>
                                </li>
                                <li class="breadcrumb-item active">Subir Diseño Final</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Orden de Trabajo</strong>
                                        </label>
                                        <br></br>
                                        <p>SS-205</p>
                                    </div>
                                    <br></br>
                                    <div class="col-4">
                                        <label for="DiseñoFinalCali" class="control-label"><strong>Diseño Final</strong></label>
                                        <div id="DiseñoFinalCali" class="styleImage"><img width="500px" src="Imagenes/Farcry5Venta.jpg"/></div>
                                    </div>
                                    <br></br>
                                    <div class="col-9">
                                        <button
                                            type="button"
                                            class="btn btn-primary btn-sm" onclick="location.href='/SCFM/faces/ventas/DiseñosFinales.xhtml';">Cancelar</button>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#SubirMasDis" aria-expanded="false" aria-controls="SubirMasDis">Subir más</button>
    
                                    </div>
                                    <br></br>
                                    <div class="collapse" id="SubirMasDis">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="DiseñoFinal" class="control-label diseños">Diseño Final</label>
                                            <input
                                                type="file"
                                                class="form-control"
                                                id="DiseñoFinal"
                                                name="file"
                                                accept=".jpg, .png, .jpeg" multiple="multiple"/>
                                            <br></br>
                                                <div id="preview" class="styleImage"></div>
                                        </div>

                                    </div>  
                                    <div class="col-9">
                                        <button type="button" class="btn btn-primary btn-sm">Actualizar Diseño</button>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                        </form>

                    </main>
    </ui:define>

</ui:composition>
