<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>
                <form action="" method="post">

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Nueva Orden de Servicio</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/ventas/inicio.xhtml">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/ventas/OrdenServicio.xhtml">Orden de Servicio</a>
                            </li>
                            <li class="breadcrumb-item active">Nueva Orden de Servicio</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-4">
                                        <select id="Visitante1"
                                            class="form-select form-select mb-3"
                                            aria-label=".form-select-lg example">
                                            <option selected="selected">Visitante 1</option>
                                            <option value="1">Empleado 1</option>
                                            <option value="2">Empleado 2</option>
                                            <option value="3">Empleado 3</option>
                                        </select>
                                    </div>

                                    <div class="col-4">
                                        <select id="Visitante2"
                                            class="form-select form-select mb-3"
                                            aria-label=".form-select-lg example">
                                            <option selected="selected" style="background-color: gray">Visitante 2</option>
                                            <option value="1">Arquitecto 1</option>
                                            <option value="2">Arquitecto 2</option>
                                            <option value="3">Arquitecto 3</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-9">
                                    <label for="Direccion_OS" class="control-label">Dirección</label>
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        id="Direccion_OS"
                                        required="required"
                                        placeholder="Escribir la Direccion"></textarea>
                                    <br></br>
                            </div>

                            <div class="row">

                                <div class="col-3">
                                    <label for="FechaVisita" class="control-label">Fecha de Visita</label>
                                    <input
                                        type="date"
                                        class="form-control"
                                        id="FechaVisita"
                                        required="required"/>
                                </div>
                                <div class="col-3">
                                    <label for="HoraVisita" class="control-label">Hora de Visita</label>
                                    <input
                                        type="time"
                                        class="form-control"
                                        id="HoraVisita"
                                        required="required"/>
                                </div>

                                <div class="col-4">
                                    <label for="Espa_Tratar_OS" class="control-label">Espacio a tratar</label>
                                    <select id="Espa_Tratar_OS"
                                        class="form-select form-select mb-3"
                                        aria-label=".form-select-lg example">
                                        <option selected="selected">Seleccionar</option>
                                        <option value="1">Hogar</option>
                                        <option value="2">Oficina</option>
                                        <option value="3">Área comercial</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-4">
                                <label for="TipoMuestras" class="control-label">Tipo de muestra</label>
                                <textarea
                                    type="text"
                                    class="form-control"
                                    id="TipoMuestras"
                                    required="required"
                                    placeholder="Escribir muestras"></textarea>
                                <br></br>
                            </div>
                            <div>
                                <button
                                    type="button"
                                    
                                    onclick="location.href='/SCFM/faces/ventas/OrdenServico.xhtml';"
                                    class="btn btn-success btn">Agregar</button>
                                
                                </div>
                            
                        

                    </div>
                </div>
            </div>
        </form>
    </main>
    </ui:define>

</ui:composition>
