<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                <form action="" method="post">

                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Visualizar Cotización</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/SCFM/faces/ventas/Cotizacion.xhtml">Cotización</a>
                            </li>
                            <li class="breadcrumb-item active">Visualizar Cotización</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="col-4">
                                    <label class="control-label">
                                        <strong>Solicitud de Servicio</strong>
                                    </label>
                                    <br></br>
                                    <p>SS-205</p>
                                </div>
                            </div>
                            <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover nowrap">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>Material</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody id="MaterialesListados">
                                                <tr>
                                                    <td>
                                                        Melanina
                                                    </td>
                                                    <td>3</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tornillos
                                                    </td>
                                                    <td>50</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">
                                                <strong>Precio Transporte</strong>
                                            </label>
                                            <br></br>
                                            <p>8000</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label">
                                                <strong>Precio Instalación</strong>
                                            </label>
                                            <br></br>
                                            <p>7000</p>
                                        </div>
                                    </div>

                                </div>
                                <br></br>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        <strong>Total</strong>
                                    </label>
                                    <br></br>
                                    <p>60000</p>
                                </div>
                            </div>
                                <br></br>
                            <div class="col-9">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-sm" onclick="location.href='/SCFM/faces/ventas/Editar_Cotizacion.xhtml';">Editar Cotización</button>
                                <button type="button" class="btn btn-primary btn-sm">Descargar Solicitud</button>

                            </div>
                        </div>
                        </div>
                    </div>

                    </form>

                </main>
    </ui:define>

</ui:composition>
