<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">


    <ui:define name="content">
         <main>

                    <form action="" method="post">

                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Visualizar O.T</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/face/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/face/ventas/OrdenTrabajo.xhtml">Órdenes de Trabajo</a>
                                </li>
                                <li class="breadcrumb-item active">Visualizar O.T</li>
                            </ol>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="control-label">
                                                <strong>Nombre Proyecto</strong>
                                            </label>
                                            <br></br>
                                            <p>Proyecto Juan Carlos</p>
                                        </div>

                                        <div class="col-4">
                                            <label class="control-label">
                                                <strong>Fecha Inicio de Orden</strong>
                                            </label>
                                            <br></br>
                                            <p>10/10/2021</p>
                                        </div>

                                        <div class="col-4">
                                            <label class="control-label">
                                                <strong>Fecha Entrega de Orden</strong>
                                            </label>
                                            <br></br>
                                            <p>28/10/2021</p>
                                        </div>
                                    </div>
                                    <br></br>
                                    <div class="row">
                                    <div class="col-4">
                                        <label class="control-label">
                                            <strong>Nombre Cliente</strong>
                                        </label>
                                        <br></br>
                                        <p>Juan</p>
                                    </div>
                                    <div class="col-4">
                                        <label for="DiseñoFinalCali" class="control-label"><strong>Diseño Final</strong></label>
                                        <div id="DiseñoFinalCali" class="styleImage"><img width="500px" src="Imagenes/Farcry5Venta.jpg"/></div>
                                    </div>
                                </div>
                                    <br></br>
                                    <div class="form-group">
                                        <div class="col-9">
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm" onclick="location.href='/SCFM/faces/ventas/Especif_OT.xhtml';">Ver Especificaciones</button>
                                            <button type="button" class="btn btn-primary btn-sm">Enviar O.T</button>
        
                                        </div>

                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    

                        </form>

                    </main>
    </ui:define>

</ui:composition>
