<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
                    <form>

                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Compra de Materiales</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.html">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active">Compra de Materiales</li>
                            </ol>
                            <div class="card mb-4">
                      
<div class="card-body">
                                <div class="col-4">
                                    <label for="OTMateriales" class="control-label">Orden de Trabajo</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="OTMateriales"
                                        name="street1"
                                        placeholder="Ot-325"/>
                                </div>
    <br></br>

                                <div class="container-fluid">
                                   
                                    
                                        <div class="row">
                                           
                                            <div class="card mb-4">
                                                <div class="card-header">
                                                
                                                </div>
                                                <div class="card-body">
                                                    <table id="Tablas" class="table table-striped table-bordered nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Material</th>
                                                                <th>Cantidad a comprar </th>
                                                               
                                                              
                                                              
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Melamina</td>
                                                                <td>10</td>
                                                       
                                                                
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td>Madera</td>
                                                                <td>20</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td>Granito</td>
                                                                <td>2</td>
                                                         
                    
                                                            
                                                                
                                                              
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>


                                           
                                              </div>
                                            <br></br>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-primary" style="background-color: green;">Aceptar Compra</button> 
                                                <button type="button"  class="btn btn-secondary" style="background-color: green;">Enviar Compra</button>
                                            </div>
                                           
                                        </div>
                                        
                                    </div>
                                    </div>
                                    
                                
                            </div>
                        </div>
                            </div>
                    
                     </form>
                </main>
    </ui:define>

</ui:composition>
