<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
                    <form>

                   

                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Crear Cronograma</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active">Crear Cronograma</li>
                            </ol>
                           
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <button type="button" onclick="location.href='/SCFM/faces/produccion/MenuCronograma.xhtml';" class="btn btn-primary btn-sm">Volver</button>
                                    </div>
                                    <div class="card-body">

                                       
                                        <table id="Tablas" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Empleado Asigando</th>
                                                    <th>Nombre de la Tarea</th>
                                                    <th>Fecha Finalización</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Empleado1</td>
                                                    <td>Pintura</td>
                                                    <td>23/6/2021</td>
                                                   
                                                    
                                                </tr>
                                                <tr>
                                                    <td>Empleado2</td>
                                                    <td>Poner patas</td>
                                                    <td>21/9/2021</td>
                                                   
                                                </tr>
                                                <tr>
                                                    <td>Empleado3</td>
                                                    <td>Barnisar</td>
                                                    <td>21/9/2021</td>
                                     
                                                    
                                                  
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>

                                <div class="container-fluid">
                                 
                                    <div class="card-body">
                                        <div class="row">
                                          
                                              <div class="col-4">
                                                          
                                                <label for="start">Fecha de finalización</label>
        
                                                <input type="date" id="start" name="trip-start"
                                                       value="2018-07-22"
                                                       min="2018-01-01" max="2025-12-31"/>
                                            
                                        </div>
                                              </div>
                                        <br></br>
                                            
                                        <br></br>
                                        <div class="row">
                                        <div class="col-4">
                                          <label for="Nomb_Tarea" class="control-label">Nombre de la tarea</label>
                                          <input
                                              type="text"
                                              class="form-control"
                                              id="Nomb_Tarea"
                                              placeholder="Nombre de la tarea"/>
                                      </div>
                                    <br></br>
                                    
                                    <div class ="col-4">
                                      <p>Empleado Asignado: 
                                        <select  class ="form-control" name="empleados">
                                          <option>Empleado1</option>
                                          <option>Empleado2</option>
                                          <option>Empleado3</option>
                                          <option>Empleado4</option>
                                        </select>
                                   
                                     </p>
                                      </div>
                                      <div class="col-2">
                                          <br></br>
                                        
                                        <button type="button" class="btn btn-success " style="background-color: green;">Guardar</button> 
                                        
                                    </div>
                                      </div>
                                        <br></br>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <button type="button" class="btn btn-success " onclick="location.href='/SCFM/faces/produccion/MenuCronograma.xhtml';" style="background-color: green;">Guardar Cronograma</button> 
                                                <button type="button" class="btn btn-success "  style="background-color: green;">Eliminar</button> 
                                                
                                            </div>
                                           
                                        </div>
                                        
                                    </div>
                                </div>

        
                            
                                    
                                
                            </div>
                            </div>
                        
                    

                        </form>
                    



                </main>
    </ui:define>

</ui:composition>
