<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
          
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Mano de Obra</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/SCFM/faces/inicio.xhtml">Inicio</a></li>
                            <li class="breadcrumb-item active">Mano de Obra</li>
                        </ol>
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="Tablas" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Código OT</th>
                                            <th>Opción</th>
                                            <th>Opción</th>
                                            <th>Opción</th>
                                          
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>OT-205</td>
                                            
                                            <td><button type="button" onclick="location.href='/SCFM/faces/produccion/RegistroManObra.xhtml';" class="btn btn-primary">Mano de Obra</button></td>
                                            <td><button onclick="location.href='/SCFM/faces/produccion/EditarManodeObra.xhtml'" class="btn btn-primary">Editar</button></td>
                                            <td><button class="btn btn-primary">Calcular Costo</button></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>OT-377</td>
                                           
                                            <td><button type="button" onclick="location.href='/SCFM/faces/produccion/RegistroManObra.xhtml';" class="btn btn-primary">Mano de Obra</button></td>
                                            <td><button onclick="location.href='/SCFM/faces/produccion/EditarManodeObra.xhtml'" class="btn btn-primary">Editar</button></td>
                                            <td><button class="btn btn-primary">Calcular Costo</button></td>
                                        </tr>
                                        <tr>
                                            <td>OT-398</td>
                                           
                                            <td><button type="button" onclick="location.href='/SCFM/faces/produccion/RegistroManObra.xhtml';" class="btn btn-primary">Mano de Obra</button></td>
                                            <td><button onclick="location.href='/SCFM/faces/produccion/EditarManodeObra.xhtml'" class="btn btn-primary">Editar</button></td>
                                            <td><button class="btn btn-primary">Calcular Costo</button></td>
                                            
                                          
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </main>
    </ui:define>

</ui:composition>
