<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
                    <form>

                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Materiales</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active">Materiales</li>
                            </ol>
                            <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="Tablas" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                        
                                            <th>Cantidad</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Melamina </td>
                                   
                                            <td>20</td>
                                               
                                            
                                        </tr>
                                        <tr>
                                            <td>Madera</td>
                                          
                                            <td>20</td>
                                           
                                            
                                        </tr>
                                        <tr>
                                            <td>Granito</td>
                                          
                                            <td>20</td>
                                          
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                <br></br>

                                <div class="col-4">
                                    <label for="OrdenTrabajoMate" class="control-label">Orden de Trabajo</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="OrdenTrabajoMate"
                                        placeholder="OT-205"/>
                                </div>

                                <br></br>
                                        <div class="row">
                                          
                                            <h3>Lista de Materiales</h3>
                                              
                                                <div class="row">
                                                    <p>Materiales: 
                                                        <select name="empleados">
                                                          <option>Madera</option>
                                                          <option>Marmol</option>
                                                          <option>Cuarzo</option>
                                                          <option>Granito</option>
                                                        </select>
                                                     </p>
                                                    <br></br>
                                                     
                                                      </div>
                                            <br></br>
                                                      <div class="col-4">
                                                        <label for="CantMateriales" class="control-label">Cantidad de Material</label>
                                                        <input
                                                            type="number"
                                                            class="form-control"
                                                            id="CantMateriales"
                                                            placeholder="Cantidad de material"/>
                                                    </div>


                                           
                                              </div>
                                        <br></br>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-primary" style="background-color: green;">Confirmar selección</button> 
                                                <button type="button" onclick="location.href='/SCFM/faces/produccion/CompraMateriales.html';" class="btn btn-secondary" style="background-color: green;">Enviar Compra</button> 

                                            </div>
                                           
                                        </div>
                                       
                                    </div>
                                </div>
                            
                                    
                                
                            </div>
                    

                        </form>



                </main>
    </ui:define>

</ui:composition>
