<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <div class="container-fluid px-4">
                            <h1 class="mt-4">Cronogramas</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item">
                                    <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                                </li>
                                <li class="breadcrumb-item active">Cronogramas</li>
                            </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <button class="btn btn-success" type="button" onclick="location.href='/SCFM/faces/produccion/Cronograma.xhtml';" >Nuevo Cronograma</button>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Código OT</th>
                                        <th>Cronograma</th>
                                        <th>Proyecto</th>
                                        <th>Estado</th>
                                        <th>Opción</th>
                                     
                                      
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>OT-205</td>
                                        <td>CRO-205</td>
                                        <td>Juan Solano</td>
                                        <td>En proceso</td>
                                        <td><button class="btn btn-primary" type="button" onclick="location.href='/SCFM/faces/produccion/VerCrono.xhtml';" >Ver Cronograma</button></td>

                                        
                                    </tr>
                                    <tr>
                                        <td>OT-377</td>
                                        <td>CRO-377</td>
                                        <td>Mariana López</td>
                                        <td>Finalizada</td>
                                        <td><button class="btn btn-primary" type="button" onclick="location.href='/SCFM/faces/produccion/VerCrono.xhtml';" >Ver Cronograma</button></td>

                                  
                                    </tr>
                                    <tr>
                                        <td>OT-398</td>
                                        <td>CRO-398</td>
                                        <td>Rafael Esquivel</td>
                                        <td>Por realizar</td>
                                        <td><button class="btn btn-primary" type="button" onclick="location.href='/SCFM/faces/produccion/VerCrono.xhtml';" >Ver Cronograma</button></td>

                                      
                                        
                                    </tr>
                                </tbody>
                            </table>
      
                                
                            </div>
                        </div>
                    </div>
                    

                      
                </main>
    </ui:define>

</ui:composition>
