<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
            <form>

                <div class="container-fluid px-4">
                    <h1 class="mt-4">Registro Mano de Obra</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active">Registro Mano de Obra</li>
                    </ol>

                    <div class="card-body">
                        <table id="Tablas" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Empleado</th>
                                    <th>Horas Nomales</th>
                                    <th>Horas Extraordinarias</th>
                                    <th>Horas  Doble Extraordinarias</th>
                                    <th>Salario</th>




                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Empleado 1</td>
                                    <td>10:5H</td>

                                    <td>3:5H</td>
                                    <td>4:5H</td>
                                    <td>$600</td>

                                </tr>
                                <tr>
                                    <td>Empleado 2</td>
                                    <td>8:5H</td>

                                    <td>1:5H</td>
                                    <td>4:5H</td>
                                    <td>$700</td>
                                </tr>
                                <tr>
                                    <td>Empleado 3</td>
                                    <td>15:5H</td>

                                    <td>1:5H</td>
                                    <td>0:0H</td>
                                    <td>$1000</td>


                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="container-fluid">

                        <div class="card-body">
                            <div class="row">
                                <p>Empleados: 
                                    <select name="empleados">
                                        <option>Empleado 1</option>
                                        <option>Empleado 2</option>
                                        <option>Empleado 3</option>
                                        <option>Empleado 4</option>
                                    </select>
                                </p>
                                <br></br>

                            </div>
                            <br></br>
                            <div class="col-4">
                                <label for="HorasNormalesMO" class="control-label">Horas Normales</label>
                                <input
                                    type="time"
                                    class="form-control"
                                    id="HorasNormalesMO"/>
                            </div>
                            <br></br>
                            <div class="col-4">
                                <label for="HorasExtraMO" class="control-label">Horas Extraordinarias</label>
                                <input
                                    type="time"
                                    class="form-control"
                                    id="HorasExtraMO"/>
                            </div>


                            <br></br>
                       
                            <div class="col-4">
                                <label for="HorasExtraDobleMO" class="control-label">Horas  Doble Extraordinarias</label>
                                <input
                                    type="time"
                                    class="form-control"
                                    id="HorasExtraDobleMO"/>
                            </div>
                            <br></br>

                            <br></br>
                            <div class="form-group">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary" style="background-color: green;">Confirmar</button> 


                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </form>




        </main>
    </ui:define>

</ui:composition>
