<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>
          
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Ver Cronograma</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/SCFM/faces/inicio.xhtml">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="/SCFM/faces/produccion/MenuCronograma.xhtml">Cronogramas</a></li>
                            <li class="breadcrumb-item active">Ver Cronograma</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <button type="button" onclick="location.href='/SCFM/faces/produccion/MenuCronograma.xhtml';" class="btn btn-primary btn-sm">Volver</button>
                            </div>
                            <div class="card-body">
                                <table id="Tablas" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>Empleado Asignado</th>
                                            <th>Nombre de tarea</th>
                                            <th>Opción</th>
                                            <th>Tarea finalizada</th>
                                          
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Empleado 1</td>
                                            <td>Pintar mesa</td>
                                            <td><button type="button" onclick="location.href='/SCFM/faces/produccion/Cronograma.xhtml';" class="btn btn-primary btn-sm">Editar</button></td>

                                        
                                            <td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."/></td>
                                        </tr>
                                        <tr>
                                            <td>Empleado 2</td>
                                            <td>Pegar patas</td>
                                           
                                            <td><button type="button" onclick="location.href='/SCFM/faces/produccion/Cronograma.xhtml';" class="btn btn-primary btn-sm">Editar</button></td>
                                           
                                            <td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."/></td>
                                        </tr>
                                        <tr>
                                            <td>Empleado3</td>
                                            <td>Pintar silla</td>
                                            
                                            <td><button type="button" onclick="location.href='/SCFM/faces/produccion/Cronograma.xhtml';" class="btn btn-primary btn-sm">Editar</button></td>
                                            
                                            <td><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..."/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
    </ui:define>

</ui:composition>
