<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantillaAdmin.xhtml">

    <ui:define name="content">
        <main>

            <div class="container-fluid px-4">
                <h1 class="mt-4">Inventario de Personal</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">
                        <a href="/SCFM/faces/inicio.xhtml">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Inventario</li>
                </ol>

                <div class="card-body">
                    <div style="text-align: right;">

                        <button
                            type="button"
                            onclick="location.href = '/SCFM/faces/inventario/NuevaPerso.xhtml';"
                            class="btn btn-success btn-sm">Nuevo Empleado</button>
                        <br></br>
                        <br/>
                    </div>

                    <table id="Tablas" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Primer Apellido</th>
                                <th>Segundo Apellido</th>
                                <th>Gana por Hora</th>
                                <th>Rol</th>
                                <th>Opción</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12345678</td>
                                <td>Carlos</td>
                                <td>Vega</td>
                                <td>Hernandez</td>
                                <td>¢ 2800</td>
                                <td>Empleado</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            type="button"
                                            onclick="location.href = '/SCFM/faces/inventario/EditarPerso.xhtml';"
                                            class="btn btn-info btn-sm">Actualizar</button>

                                    </div>

                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>12384567</td>
                                <td>Juan</td>
                                <td>Reyes</td>
                                <td></td>
                                <td>¢ 2000</td>
                                <td>Administrador</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            type="button"
                                            onclick="location.href = '/SCFM/faces/inventario/EditarPerso.xhtml';"
                                            class="btn btn-info btn-sm">Actualizar</button>

                                    </div>

                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>

                            </tr>
                            <tr>
                                <td>15678234</td>
                                <td>Carolina</td>
                                <td>Obando</td>
                                <td>Perez</td>
                                <td>¢ 4000</td>
                                <td>Jefe de taller</td>
                                <td>
                                    <div style="text-align: center;">
                                        <button
                                            type="button"
                                            onclick="location.href = '/SCFM/faces/inventario/EditarPerso.xhtml';"
                                            class="btn btn-info btn-sm">Actualizar</button>

                                    </div>

                                </td>
                                <td>
                                    <div style="text-align: center;">
                                        <button type="button" class="btn bg-danger btn-sm">Eliminar</button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </main>
    </ui:define>

</ui:composition>
